* {
  margin: 0%;
}
@font-face {
  font-family: "Poker-In-October-Demo";
  src: url("Poker-In-October-Demo.ttf.woff") format("woff"),
    url("Poker-In-October-Demo.ttf.svg#Poker-In-October-Demo") format("svg"),
    url("Poker-In-October-Demo.ttf.eot"),
    url("Poker-In-October-Demo.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: white;
  background-color: darkgreen;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: "Poker-In-October-Demo";
  text-align: center;
  color: #fdd20eff;
  -webkit-text-stroke: #f93822ff 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

h1 img {
  width: 80px;
  padding-left: 15px;
}

.playingArea {
  margin: 0 auto;
  height: 650px;
  border: 15px solid rgb(182, 169, 68);
  border-radius: 5%;
  background-image: url("https://static6.depositphotos.com/1107771/647/v/600/depositphotos_6476634-stock-illustration-red-poker-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.scoreBoardContainer :first-child {
  width: 200px;
}
.scoreBoardContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  margin: 0px auto;
}

.scoreBoard {
  display: table-cell;
  vertical-align: top;
  /* border: 2px solid black; */
  box-sizing: border-box;
  white-space: nowrap;
}

ul {
  list-style-type: none;
  padding-left: 30px;
}

.score {
  padding-top: 15px;
  text-align: right;
  padding-right: 5px;
  width: 170px;
}

.hand {
  width: 400px;
  padding-top: 15px;
  /* text-align: right; */
  padding-right: 5px;
  padding-left: 20px;
  width: 170px;
}

.playingCards {
  height: 230px;
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  overflow-wrap: break-word;
}

.card {
  height: 75%;
  display: inline-block;
  margin: 5px;
}

.card1 {
  animation: deal 1.4s;
}

.card2 {
  animation: deal 2.8s;
}

.card3 {
  animation: deal 4.2s;
}

.card4 {
  animation: deal 5.6s;
}

.card5 {
  animation: deal 7s;
}

@keyframes deal {
  from {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

.card:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.buttonHolder {
  text-align: center;
}

button {
  margin: 5px;
}

.hold {
  margin-top: 5px;
  height: 20px;
  display: flex;
  justify-content: space-evenly;
}

.holdSign {
  width: 200px;
  height: 20px;
  margin: 5px;
  /* background-color: lightgray; */
  text-align: center;
}

.gameBanner {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
}

.points {
  font-size: 50px;
  padding: 10px;
  position: relative;
  bottom: 0;
}

.score:hover {
  background-color: rgba(227, 68, 68, 0.7);
}

.lightContainer {
  white-space: nowrap;
}

.lightContainer {
  white-space: nowrap;
}
.led-yellow {
  display: inline-block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #ff0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px,
    #ff0 0 2px 12px;
  animation: blinkYellow 1s infinite;
}

@keyframes blinkYellow {
  from {
    background-color: #ff0;
  }
  50% {
    background-color: rgb(207, 207, 40);
    /* box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px,
      #ff0 0 2px 0; */
  }
  to {
    background-color: #ff0;
  }
}

@media (max-width: 425px) {
  .scoreBoard {
    font-size: 70%;
    white-space: nowrap;
  }

  .card {
    height: 45%;
  }
}
