<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Video Poker</title>
  </head>
  <body>
    <!-- <audio id="cardDeal" autoplay="autoplay" src="cardDeal.wav"></audio> -->
    <audio
      id="cardShuffle"
      autoplay="autoplay"
      src="/sounds/cardShuffle.wav"
    ></audio>
    <audio id="losingSound" src="/sounds/losingSound.wav"></audio>
    <audio id="error" src="/sounds/error.wav"></audio>
    <audio id="win" src="/sounds/win.mp3"></audio>
    <audio id="cardDealOne" src="/sounds/cardDealOne.wav"></audio>
    <!-- <div class="led-yellow"></div> -->
    <h1>Video Poker<img src="/images/chip.png" alt="Poker Chip" /></h1>
    <script src="/js/script.js"></script>
  </body>
</html>
